schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="id"/>
        <xs:element type="xs:string" name="location"/>
        <xs:element type="xs:string" name="name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
